{% extends 'main.html' %}

{% block content %}
{% load static %}
<header>
    <h1>Welcome, {{user}}</h1>
    <img src="{% static 'images/avatar.png' %}" class="img__small" id="profile__pic" alt="">
</header>


<div class="search__bar">
    <form action="{% url 'task' %}">
        {% csrf_token %}
        <input id="search__bar" name="q" placeholder="Search">
        <button>
            {% if q == '' %}
                <img src="{% static 'images/magnifying-glass.png' %}" class="img__small" alt="">
            {% else %}
                <img src="{% static 'images/return.png' %}" class="img__small" alt="">
            {% endif %}
        </button>
    </form>
</div>

<ul class="tasks incomplete">
    <h3 class="text__title">To Do</h3>
    {% for task in tasks %}
    {% if task.complete == False %}
    <li class="{% if task.overdue %}overdue{% endif %}">
        <div class="task-item">
            <div class="task__base">
                <div>
                    <a href="{% url 'complete-task' task.id %}" method='POST'>
                        <img src="{% static 'images/circle.png' %}" class="img__small task__incomplete" alt="" 
                        onmouseover='this.src="{% static 'images/checkmark.png' %}"'  
                        onmouseleave='this.src="{% static 'images/circle.png' %}"'>
                    </a>
                    <p class="text__main">{{task.name}}</p>
                </div>


                <div>
                    {% if task.is_due_today %}
                        <p class="text__secondary">Due today</p>
                    {% endif %}

                    {% if task.overdue %}
                        <p class="overdue text__secondary"> {{task.due_date|timesince}} overdue</p>
                    {% elif task.priority %}
                        <p class="priority">Priority</p>
                    {% endif %}

                    <a href="{% url 'update-task' task.id %}">
                        <img src="{% static 'images/edit.png' %}" class="img__small" alt="">
                    </a>

                    <a href="" class="expand-toggle-button">
                        <img src="{% static 'images/up-arrow.png' %}" class="img__small expand-icon-up" alt="">
                        <img src="{% static 'images/down-arrow.png' %}" class="img__small expand-icon-down" alt="">
                    </a>

                </div>
            </div>
            <div class="task__description">
                <div>
                    {% if task.description %}
                        <p class="text__secondary">{{task.description}}</p>
                    {% else %}
                        <p class="text__secondary">No description...</p>
                    {% endif %}
                </div>

                <div>
                    <img src="{% static 'images/calendar.png' %}" class="img__small" alt="">
                    {% if task.is_due_today %}
                    <p class="text__main">Due today</p>
                    {% elif task.due_date %}
                    <p class="text__main">Due {{task.due_date|date:'m/d/y'}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}

    {% if no_tasks %}
        <li>
            <p class="text__secondary">No tasks.</p>
        </li>
    {% endif %}
</ul>

<ul class="tasks complete">
    <h3 class="text__title">Completed</h3>
    {% for task in tasks %}
    {% if task.complete == True %}
    <li>
        <div class="task__base">
            <div>
                <a href="{% url 'incomplete-task' task.id %}" method='POST'>
                    <img src="{% static 'images/checkmark.png' %}" class="img__small" alt=""
                    onmouseleave='this.src="{% static 'images/checkmark.png' %}"'  
                    onmouseover='this.src="{% static 'images/circle.png' %}"'>
                </a>
                <p class="text__secondary">{{task.name}}</p>
            </div>
            <div>
                <h4>completed: </h4>
                {% if task.completed_today == True %}
                <h4 class="text__secondary">Today</h4>
                {% elif task.completed_today == False %}
                <h4 class="text__secondary">{{task.completed_date|date:'m/d/y'}}</h4>
                {% endif %}

                <div>
                    <a href="{% url 'delete-task' task.id %}">
                        <img src="{% static 'images/trash.png' %}" class="img__small" alt="">
                    </a>
                </div>
            </div>

        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<div class="add__task">
    <a class="add__task__btn" href="{% url 'task-form' %}">
        <p class="text__main">Add task</p>
    </a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const expandButtons = document.querySelectorAll('.expand-toggle-button');

        expandButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                event.preventDefault();

                const taskItem = button.closest('.task-item');

                if (taskItem){
                    taskItem.classList.toggle('expanded');

                    const descriptionDiv = taskItem.querySelector('.task__description');
                    if(descriptionDiv){
                        descriptionDiv.classList.toggle('expanded');
                    }
                }
            });
        });
    });
</script>


{% endblock content %}